
.example-full-width {
    width: 75%;
}
.error {
    color: red;
    padding: 5px;
}
.half-width {
    width: 48.5%;
    margin: 0px 10px 0px 10px;
}
.three-in-row {
    width: 31.82%;
    margin: 0px 10px 0px 10px;
}
.mat-card {
    margin: 20px;
    width: 75%;
}
.submit {
    margin: 0px 10px 0px 10px;
    align-items: end;
}