.header-spacer {
    flex: 1 1 auto;
  }

  .header-toolbar {
    background-color: #3C4852;
    color: #fff;
    .app-title {
        padding-left: 20px;
    }
  }
  .content-container {
    height: 100%;
    min-height: 100vh;
    background-image: url(creditcards/images/bg.jpg);
  }
  .sidebar {
    background-image: url(creditcards/images/bg.jpg);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.02);
    border: #3C4852;
    height: 100%;
    width: 250px;
  }
  .mat-card {
    margin: 20px;
  }
  