
.count-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 15px;
    padding: 20px;
}
.count-card:last-child {
    margin-right: 0;
}
.bottom-center {
    margin-top: auto;
    text-align: center;
    font-size: xx-large;
    color: aqua;
}
.small-card {
    margin: 20px;
}
.bg-success {
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.08);
    color: aliceblue;
    text-align: center;
}
.bg-warning {
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    text-align: center;
}
.bg-info {
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.12);
    color: aliceblue;
    text-align: center;
}
.bg-primary {
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.14);
    color: aliceblue;
    text-align: center;
}
.mat-card {
    margin: 20px;
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}
.mat-card-list {
    margin: 20px;
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.007);
    color: aliceblue;
}
.bg {
    background-image: url(add/images/bg.jpg);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.001);
    color: aliceblue;

    
}
.icon-link {
    margin-right: 10px;
  }
  
  .icon-link:last-child {
    margin-right: 0;
  }
  ::ng-deep .mat-select-value {
    color: #005999;
      font-weight: bold;
      font-size: 15px;
  }
  ::ng-deep .mat-select-arrow {
      color: #005999;
  }
  ::ng-deep .mat-option{
    padding: 0!important;
  
  }
  ::ng-deep .mat-option-text {
  
      text-align: right;
  }
