
.count-card {
    width: 25%;
    margin-right: 15px;
    padding: 20px;
}
.count-card:last-child {
    margin-right: 0;
}
.bg-success {
    background-color: lightgreen;
}
.bg-warning {
    background-color: lightcoral;
}
.bg-info {
    background-color: lightblue;
}
.bg-primary {
    background-color: lightyellow;
}
.mat-card {
    margin: 20px;
}
.icon-link {
    margin-right: 10px;
  }
  
  .icon-link:last-child {
    margin-right: 0;
  }